[Unit]
Description=FastAPI CRUD template, gunicorn instance to server api
After=network.target

[Service]
Type=exec
User=rupeshmall
Group=rupeshmall
WorkingDirectory=/home/rupeshmall/apps/fastapi-template
Environment="PATH=/home/rupeshmall/apps/fastapi-template/venv/bin"
ExecStart=/home/rupeshmall/apps/fastapi-template/service/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
